<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="PrivateFeed" value="%NUGET_FEED_URL%" />
    <add key="MainPrivateFeed" value="%NUGET_MAIN_FEED_URL%" />
  </packageSources>

  <packageSourceCredentials>
    <PrivateFeed>
      <add key="Username" value="%NUGET_REG_USERNAME%" />
      <add key="ClearTextPassword" value="%NUGET_REG_PASSWORD%" />
    </PrivateFeed>
    <MainPrivateFeed>
      <add key="Username" value="%NUGET_REG_USERNAME%" />
      <add key="ClearTextPassword" value="%NUGET_REG_PASSWORD%" />
    </MainPrivateFeed>
  </packageSourceCredentials>

  <packageSourceMapping>
    <packageSource key="MainPrivateFeed">
      <package pattern="TrackMan.SharedCalculator" />
    </packageSource>
    <packageSource key="PrivateFeed">
      <package pattern="Trackman.*" />
      <package pattern="I18Next.Net*" />
    </packageSource>

    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
